<!DOCTYPE html>
<html>
    <head>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" >
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
                <link rel="stylesheet" type="text/css" href="/styles/footer.css">
          </head>
    <body>

      <div class="container-fluid d-flex justify-content-center footer-1">
<div class="container">
    <div class="row">
        <div class="col col-lg-4 col-md-8 col-sm-12 text-left">
            <div class="card card-1">
                <img src="images/nis_fav.png" class="card-img-top footer-logo" alt="NIS Favicon">
                 <div class="card-body">
                  <h5 class="card-title fsite-name">National Intelligence Service</h5>
                  <p class="card-text fsite-desc">
                    The National Intelligence Service (NIS) of Kenya is the country's principal intelligence agency. 
                    It is responsible for gathering, analyzing, and disseminating intelligence to support national security and decision-making.                   
                  </p>
                    </div>
                   </div>

        </div>
        <div class="col col-lg-3 col-md-4 col-sm-4 text-left">
            <div class="card card-1">
                <div class="card-body">
                  <h5 class="card-title">Quick Links</h5>
                  <ul class="card-text">
                    <li class="f-list">
                      <a class="f-links" href="/about-us">About Us</a>
                    </li>
                    <li class="f-list">
                      <a class="f-links" href="/resources">Resources</a>
                    </li>
                    <li class="f-list">
                      <a class="f-links" href="/careers">Careers</a>
                    </li>
                    <li class="f-list">
                      <a class="f-links" href="/tenders">Tenders</a>
                    </li>
                    <li class="f-list">
                        <a class="f-links" href="/contact">Contact Us</a>
                      </li>
                    </ul>
                  </div>
                  </div>

        </div>
        <div class="col col-lg-3 col-md-8 col-sm-4">
          <div class="card card-1">
            <div class="card-body">
              <h5 class="card-title">Our Resources</h5>
              <ul class="card-text">
                <li class="f-list">
                  <a class="f-links" href="/resources">Publications</a>
                </li>
                <li class="f-list">
                  <a class="f-links" href="https://www.nis.go.ke/mandate.html">Mandate</a>
                </li>
                <li class="f-list">
                  <a class="f-links" href="https://www.nis.go.ke/structure.html">Structure</a>
                </li>
                <li class="f-list">
                  <a class="f-links" href="https://www.nis.go.ke/aboutus.html">Our Values</a>
                </li>
                <li class="f-list">
                    <a class="f-links" href="/faq">FAQs</a>
                  </li>
                </ul>
              </div>
              </div>

        </div>
        <div class="col col-lg-2 col-md-4 col-sm-4">
          <div class="card card-1">
            <div class="card-body">
              <h5 class="card-title">Our Socials</h5>
              <ul class="card-text">
                <li class="f-list f-icon">
                  <a class="f-links" href="https://www.facebook.com/jmkarimakos"><i class="fa-brands fa-facebook fa-xl "></i></a>
                </li>
                <li class="f-list f-icon">
                  <a class="f-links" href="https://twitter.com/karimakosjohn"> <i class="fa-brands fa-x-twitter fa-xl "></i></a>
                </li>
                <li class="f-list f-icon">
                  <a class="f-links" href="https://www.instagram.com/karimakosjm/"><i class="fa-brands fa-square-instagram fa-xl "></i></a>
                </li>
                <li class="f-list f-icon">
                  <a class="f-links" href="https://github.com/Karmakos"><i class="fa-brands fa-github fa-xl"></i></i></a>
                </li>
                  </ul>
              </div>
              </div>


        </div>

    </div>

</div>  
</div>
<div class="d-flex justify-content-center">

<footer class="container-fluid">
  <div class="container bottom-header">
      <div class="row justify-content-between">
          <div class="col-5">
              <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link top-links text-start" href="https://github.com/Karmakos">Made with Love By Kar1mak0s</a>
                  </li>
                  </ul>
          </div>
          <div class=" col-5">
          <ul class="nav">
              <li class="nav-item text-end">
                <a class="nav-link top-links " href="/faq">&copy; Copyrights 
                  <%= new Date().getFullYear(); %> by NIS Kenya. All rights reserved.
                                      
                </a>
              </li>
          </ul>
          </div>
        </div>

  </div>
</footer>    
</div>     

    
        
        <script src="" async defer></script>
    </body>
</html>