<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/styles/header.css">
  </head>
    <body>
      <div class=" d-flex justify-content-center">
        <header class="container-fluid ">
          <div class="container header-1">
                <div class="row justify-content-between">
                    <div class="col-sm-6">
                        <ul class="nav">
                            <li class="nav-item">
                              <a class="nav-link top-links" href="/contact">NAIROBI, KENYA</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link top-links" href="Tel:+254202225901">+254 202 225 901</a>
                            </li>
                            </ul>
                    </div>
                    <div class="col-sm-6">
                    <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link top-links" href="/faq">FAQ</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link top-links" href="/privacy-policy">PRIVACY POLICY</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link top-links" href="/tou">TERM OF USE</a>
                        </li>
                    </ul>
                    </div>
                  </div>

            </div>

        </header>
      </div>

        <!-- Primary Menu -->
        

        <nav class=" navbar-expand-lg bg-body-tertiary menu-section">
          <div class="d-flex justify-content-center text-center">
           <section class="container header-2">
            <div class="row justify-content-between">
              
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo03"
              aria-controls="navbarTogglerDemo03"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon" >
             
              </span>
              
            </button>
            <div class="col-4 col-lg-4 col-md-6">
              <img src="images/nis_fav.png" alt="NIS Logo" class="brand-logo" />
              <a class="navbar-brand fs-4 site-name" href="/">National Intelligence Service</a>
              <p class="site-desc">Usalama wa Taifa Letu</p>
            </div>
            <div class="col-8 col-lg-8 col-md-6 text-end canva-col">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item menu-item">
                  <a class="nav-link menu-nav" href="/">Home</a> 
                </li>
                 <li class="nav-item menu-item">
                  <a class="nav-link menu-nav" href="/about-us">About Us</a>
                </li>
                <li class="nav-item menu-item">
                  <a class="nav-link menu-nav" href="/resources"><sup>NEW!</sup>Resources</a>
                </li>
                <li class="nav-item menu-item">
                  <a class="nav-link menu-nav" href="/careers"><sup>NEW!</sup>Careers</a>
                </li>
                <li class="nav-item menu-item">
                  <a class="nav-link menu-nav" href="/tenders"><sup>NEW!</sup>Tenders</a>
                </li>
                <form action="/tips">
                  <button type="submit" class="btn btn-outline-warning btn-lg menu-btn">
                    Crime Tip
                  </button>
                </form>
              </ul>
              </div>
          </div>
          </section>
          
        </nav>
      </div>
      
    </body>
</html>